{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<h1 class="h3 mb-3">Update profile</h1>

<div class="row">
    <div class="col-10">
        <div class="card">
            <div class="card-body">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_errors(updateForm) }}

                {{ form_start(updateForm) }}
                    {{ form_row(updateForm.image) }}
                    {{ form_row(updateForm.firstName) }}
                    {{ form_row(updateForm.name) }}
                    {{ form_row(updateForm.email) }}
                    {{ form_row(updateForm.company) }}
                    {{ form_row(updateForm.job) }}
                    {{ form_row(updateForm.dateOfBirth) }}
                    {{ form_row(updateForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-lg btn-primary">Update</button>
                    </div>
                {{ form_end(updateForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
