{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-4 col-xl-3">
		<div class="card mb-3">
			<div class="card-header">
				<h5 class="card-title mb-0">Profile Details</h5>
			</div>
			<div class="card-body text-center">
				{% if app.user.brochureFilename %} 
					<img src="{{asset('img/avatars/' ~ app.user.brochureFilename)}}" class="img-fluid rounded-circle mb-2" alt="{{ app.user.name }}" width="128" height="128">
				{% else %} 
					<img src="{{asset('img/avatars/avatar.jpg')}}" class="img-fluid rounded-circle mb-2"alt="{{ app.user.name }}" width="128" height="128">
				{% endif %}
				<h5 class="card-title mb-0">{{ app.user.firstName }} {{ app.user.name }}</h5>
				<div class="text-muted mb-2">{{ app.user.job }}</div>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">Skills</h5>
				<a href="#" class="badge bg-primary me-1 my-1">HTML</a>
				<a href="#" class="badge bg-primary me-1 my-1">JavaScript</a>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">About</h5>
				<ul class="list-unstyled mb-0">
					<li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span> Lives in <a href="#">San Francisco, SA</a></li>

					<li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span> Works at <a href="#">GitHub</a></li>
					<li class="mb-1"><span data-feather="map-pin" class="feather-sm me-1"></span> From <a href="#">Boston</a></li>
				</ul>
			</div>
			<hr class="my-0" />
			<div class="card-body">
				<h5 class="h6 card-title">Elsewhere</h5>
				<ul class="list-unstyled mb-0">
					<li class="mb-1"><a href="#">staciehall.co</a></li>
					<li class="mb-1"><a href="#">Twitter</a></li>
					<li class="mb-1"><a href="#">Facebook</a></li>
					<li class="mb-1"><a href="#">Instagram</a></li>
					<li class="mb-1"><a href="#">LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-xl-9">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">{{ 'Update profile'|trans }}</h5>
			</div>
			<div class="card-body h-100">

				{% for flash_error in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">
						{{ flash_error }}
					</div>
				{% endfor %}

				{{ form_errors(updateForm) }}

				{{ form_start(updateForm) }}
					{{ form_row(updateForm.image) }}
					{{ form_row(updateForm.firstName) }}
					{{ form_row(updateForm.name) }}
					{{ form_row(updateForm.email) }}
					{{ form_row(updateForm.company) }}
					{{ form_row(updateForm.job) }}
					{{ form_row(updateForm.dateOfBirth) }}
					{{ form_row(updateForm.plainPassword, {
						label: 'Password'
					}) }}
					
					<hr />
					<div class="text-center mt-3">
						<button type="submit" class="btn btn-lg btn-primary">{{ 'Update'|trans }}</button>
					</div>
				{{ form_end(updateForm) }}
			</div>
		</div>
	</div>
</div>

<h1 class="h3 mb-3"></h1>

{% endblock %}
