{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ 'Forgotten password'|trans }}</h5>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}