{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<h1 class="h3 mb-3">{{ 'Register'|trans }}</h1>

<div class="row">
    <div class="col-10">
        <div class="card">
            <div class="card-header">
                <div class="text-center mt-4">
                    <h1 class="h2">{{ 'Get started'|trans }}</h1>
                    <p class="lead">
                        {{ 'Start creating the best possible user experience for you customers'|trans }}.
                    </p>
                </div>
            </div>
            <div class="card-body">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.company) }}
                    {{ form_row(registrationForm.job) }}
                    {{ form_row(registrationForm.dateOfBirth) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-lg btn-primary">{{ 'Register'|trans }}</button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
