{% extends 'base.html.twig' %}

{% block title %}{{ 'Reset password'|trans }}{% endblock %}

{% block body %}

<div class="row justify-content-md-center">
    <div class="d-table-cell align-middle">
        <div class="text-center mt-4">
            <h1 class="h2">{{ 'Reset Password'|trans }}</h1>
            <p class="lead">
                {{ 'Enter your new password'|trans }}.
            </p>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="m-sm-3">
                    {{ form_start(form) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div class="text-center mb-3">
            {{ 'Don’t have an account'|trans }} ? <a href="{{  path('app_register') }}"> {{ 'Sign up'|trans }}</a>
        </div>
    </div>
</div>

{% endblock %}