{% if item.personInvitationSender != app.user %}  
    {% set person = item.personInvitationSender  %} 
{% endif %}

{% if item.personInvitationRecipient != app.user %}  
    {% set person = item.personInvitationRecipient  %} 
{% endif %}

<div id="item-discussion-block-{{ item.id }}" 
    class="discussions-card-click card text-white mb-3 position-relative"
>
    <div class="card-body">
        {% if unreadMessages is defined and unreadMessages > 0 %}
            <span class="position-absolute translate-middle badge rounded-pill bg-danger">
                {{ unreadMessages }}
            </span>
        {% endif %}
        {% set subDirectory = 'img/avatars/'  %} 
        <img 
            class="card-img-top"
            {% if person.brochureFilename %} 
                src="data:{{ person.sensitiveDataMimeType }};base64,{{ person.sensitiveDataBrochureFilename|decrypt(subDirectory) }}" 
            {% else %}
                src="{{asset('img/avatars/avatar.jpg')}}" 
            {% endif %}
            class="img-fluid rounded-circle mb-2" 
            alt="{{ person.sensitiveDataName }}" 
            width="10" height="10"
            onclick="discussionClick(event)" 
            data-idDiscussion="{{ item.id }}" 
            data-page="1"
            data-url= {{ path('app_message', {idDiscussion: item.id, page: 1}) }}
        >
        <h5 class="card-title" style="color:black;">
            <br />
            {{ person.sensitiveDataFirstName }} {{ person.sensitiveDataName }}
            {% include 'discussion/block_content_discussion_actions.html.twig' with {'item': item, 'person': person}%}
        </h5>
    </div>
</div>
<hr class="my-0" />

<!-- Modal -->
{% include 'profil/modal_info_profil.html.twig' with {'item': person} %}


