{% if item.personInvitationSender != app.user %}  
    {% set person = item.personInvitationSender  %} 
{% endif %}

{% if item.personInvitationRecipient != app.user %}  
    {% set person = item.personInvitationRecipient  %} 
{% endif %}

{% if item.personInvitationSender == app.user %}  
    {% set numberUnreadMessages = item.personInvitationRecipientNumberUnreadMessages  %}
{% else %} 
    {% set numberUnreadMessages = item.personInvitationSenderNumberUnreadMessages  %}
{% endif %}

<div id="discussion-click-{{ item.id }}" 
    class="discussions-card-click card text-white mb-3 position-relative"
>
    <div class="card-body">
        {% if numberUnreadMessages %}  
            <span class="position-absolute translate-middle badge rounded-pill bg-danger">
                {{ numberUnreadMessages }}
            </span>
        {% endif %}
        {% set subDirectory = 'img/avatars/'  %} 
        <img 
            class="card-img-top"
            {% if person.brochureFilename %} 
                src="data:{{ person.sensitiveDataMimeType }};base64,{{ person.sensitiveDataBrochureFilename|decrypt(subDirectory) }}" 
            {% else %}
                src="{{asset('img/avatars/avatar.jpg')}}" 
            {% endif %}
            class="img-fluid rounded-circle mb-2" 
            alt="{{ person.sensitiveDataName }}" 
            width="100" height="100" 
            onclick="discussionClick(event)" 
            data-idDiscussion="{{ item.id }}" 
            data-page="1"
            data-url= {{ path('app_message', {idDiscussion: item.id, page: 1}) }}
        >
        <h5 class="card-title" style="color:black;">
            <br />
            {{ person.sensitiveDataFirstName }} {{ person.sensitiveDataName }}

            <a data-bs-toggle="modal" data-bs-target="#profilInfo{{ person.id }}">
                <i class="fa fa-info-circle" style="font-size:17px;color:black;"></i>
            </a>
        </h5>
    </div>
</div>
<hr class="my-0" />

<!-- Modal -->
{% include 'profil/modal_info_profil.html.twig' with {'item': person} %}


