{% set description = '' %} 
{% set name = '' %} 
{% set firstName = '' %} 
{% set createdThisMonth = '' %}
{% set IdSelectedSearchDiscussion = '' %}

{% if selectedSearchDiscussion is not empty %}
    {% set description = selectedSearchDiscussion.sensitiveDataDescription  %} 
    {% set name = selectedSearchDiscussion.sensitiveDataName  %} 
    {% set firstName = selectedSearchDiscussion.sensitiveDataFirstName %} 
    {% set createdThisMonth = selectedSearchDiscussion.createdThisMonth %} 
    {% set IdSelectedSearchDiscussion = selectedSearchDiscussion.id %} 
{% endif %}

<div class="card-header">
    <div class="flex-grow-1">
		<small class="float-end text-navy">
			<div class="card-actions float-end">
				<div class="dropdown position-relative">
					<a href="#" style="color:black;" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
                        {% include 'components/manage_saved_search.html.twig' with { 'view': 'discussion', 'idSelectedSearch': IdSelectedSearchDiscussion} %}
					</div>
				</div>
			</div>
		</small>

        <div class="container mb-3">
            <div class="row align-items-center">
                <div class="col-auto">
                    <h6 class="mb-0">{{ 'Search Discussion'|trans }}</h6>
                </div>
                <div class="col-auto ms-2">
                    {% include 'components/choose_saved_search.html.twig' with { 'view': 'discussion', 'searchDiscussion': searchDiscussion, 'description': description } %}
                </div>
            </div>
        </div>
	</div>
    <div class="card-body">
        <div class="row">
            <!-- Champ Name -->
            <div class="mb-3 col-6">
                <label for="inputName" class="form-label">{{ 'Name'|trans }}</label>
                <div id="tags-name" class="d-flex flex-wrap gap-2 mt-2"></div>
                <input id="tag-input-name" 
                    type="text" 
                    class="form-control form-control-sm mt-2"
                    placeholder="{{ 'Enter a name, then press ; or Enter to add it as a tag'|trans }}">
                <input type="hidden" id="inputName" name="inputName" value="{{ name|e }}">
            </div>

            <!-- Champ FirstName -->
            <div class="mb-3 col-6">
                <label for="inputFirstName" class="form-label">{{ 'FirstName'|trans }}</label>
                <div id="tags-firstname" class="d-flex flex-wrap gap-2 mt-2"></div>
                <input id="tag-input-firstname" 
                    type="text" 
                    class="form-control form-control-sm mt-2"
                    placeholder="{{ 'Enter a first name, then press ; or Enter to add it as a tag'|trans }}">
                <input type="hidden" id="inputFirstName" name="inputFirstName" value="{{ firstName|e }}">
            </div>

            <div class="mb-3 col-6">
                <div class="form-check form-check-inline form-switch">
                    <input class="form-check-input" type="checkbox" name="createdThisMonth" {{ createdThisMonth == true ? "checked" : "" }}>
                    <label class="form-check-label">{{ 'Created This Month'|trans }}</label>
                </div>
            </div>

            <input type="hidden" id="IdSelectedSearchDiscussion" value='{{ IdSelectedSearchDiscussion }}'>

            {% include 'components/submit_search_criteria.html.twig' with { 'view': 'discussion' } %}
        </div>
    </div>
</div>



