<li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
        <div class="position-relative">
            <i class="align-middle" data-feather="message-square"></i>
            {% if messages is not empty %}
                <span class="indicator">{{ numbreMessages }}</span>
            {% endif %}
        </div>
    </a>
    <div class="dropdown-menu w-100 dropdown-menu-lg dropdown-menu-end" aria-labelledby="messagesDropdown">
        <div class="dropdown-menu-header">
            <div class="position-relative">
                {{ numbreMessages }} {{ 'New Messages'|trans }}
            </div>
        </div>
        <div {% if numbreMessages != 0 %} class="list-group scrollable" {% else %} class="list-group" {% endif %}>
            {% for item in messages %}
                {% if item.discussion.personInvitationSender != app.user %}  
                    {% set person = item.discussion.personInvitationSender  %} 
                {% endif %}

                {% if item.discussion.personInvitationRecipient != app.user %}  
                    {% set person = item.discussion.personInvitationRecipient  %} 
                {% endif %}

                <div class="list-group-item">
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            {% if person.brochureFilename %} 
                                {% set subDirectory = 'img/avatars/'  %} 
                                <img 
                                    src="data:{{ person.sensitiveDataMimeType }};base64,{{ person.sensitiveDataBrochureFilename|decrypt(subDirectory) }}" 
                                    class="avatar img-fluid rounded-circle" 
                                    alt="{{ person.sensitiveDataName }}"
                                >
                            {% else %} 
                                <img src="{{asset('img/avatars/avatar.jpg')}}" class="avatar img-fluid rounded-circle" alt="{{ person.sensitiveDataName }}">
                            {% endif %}
                        </div>

                        <div class="col-10 ps-2">
                            <div class="text-dark">
                                {{ person.sensitiveDataFirstName }} {{ person.sensitiveDataName }}
                            </div>
                            <div class="text-muted small mt-1">
                                {% if item.message.message %} 
                                    {{ item.message.sensitiveDataMessage }}
                                {% endif %}
                            </div>
                            <div class="text-muted small mt-1">
                                {{ item.dateCreation|date("F j, Y : H:i") }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="dropdown-menu-footer">
            <a href="{{ path('app_discussion') }}" class="text-muted">
                {{ 'Show all messages'|trans }}
            </a>
        </div>
    </div>
</li>