{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-8 col-xl-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">{{ 'New discussion'|trans }}</h5>
			</div>
			<div class="card-body h-100">
				{{ form_start(formDiscussion, { attr: {'id': 'form_discussion' } }) }}
				<div class="row">
					<div class="col">
						{{ form_row(formDiscussion.personTwo) }}
					</div>
					<div class="col" style="display: none;">
						{{ form_row(formDiscussion.fieldDiscussion) }}
					</div>
					<div class="col">
						{{ form_row(formDiscussion.save) }}
					</div>
				</div>
				{{ form_end(formDiscussion) }}
			</div>
		</div>
	</div>

	<div class="col-md-4 col-xl-3">
		<div class="card mb-3">
			<div class="card-header">
				<h5 class="card-title mb-0">{{ 'Discussions'|trans }}</h5>
				<div class="card-body text-center">
					<div id="discussion_list"></div>
					{% for item in discussions %}
						{% include 'message/discussions.html.twig' with {'item': item} %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-xl-9">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">{{ 'Messages'|trans }}</h5>	
			</div>
			<div class="card-body h-100">
				<div id="message_list">
				</div>
			</div>
		</div>
		<div id="add_form_message">
		</div>
	</div>
</div>

<h1 class="h3 mb-3"></h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message') }}
{% endblock %}