

{% if item.personOne != app.user %}  
    {% set newItem = item.personOne  %} 
{% endif %}

{% if item.personTwo != app.user %}  
    {% set newItem = item.personTwo  %} 
{% endif %}

{% if item.personOne == app.user %}  
    {% set numberUnreadMessages = item.personTwoNumberUnreadMessages  %}
{% else %} 
    {% set numberUnreadMessages = item.personOneNumberUnreadMessages  %}
{% endif %}

<div 
    id="discussion-click-{{ item.id }}" 
    class="discussions-card-click card text-white mb-3 position-relative"
>
    <div class="card-body">
        {% if numberUnreadMessages %}  
            <span class="position-absolute translate-middle badge rounded-pill bg-danger">
                {{ numberUnreadMessages }}
            </span>
        {% endif %}
        <img 
            class="card-img-top"
            {% if newItem.brochureFilename %} 
                src="{{asset('img/avatars/' ~ newItem.brochureFilename)}}" 
            {% else %}
                src="{{asset('img/avatars/avatar.jpg')}}" 
            {% endif %}
            class="img-fluid rounded-circle mb-2" 
            alt="{{ newItem.name }}" 
            width="100" height="100" 
            onclick="discussionClick(event)" 
            data-idDiscussion="{{ item.id }}" 
            data-page="1",
            data-url= {{ path('app_create_message', {idDiscussion: item.id, page: 1}) }}
        >
        <h5 class="card-title">
            {{ newItem.firstName }} {{ newItem.name }}
        </h5>
    </div>
</div>

<hr class="my-0" />
