<div class="card-header">
	<div class="flex-grow-1">
		<small class="float-end text-navy">
			{% include 'message/message_actions_dropdown.html.twig' with {'discussion': discussion} %}
		</small>
		<h5 class="card-title mb-0">
			{{ 'Messages'|trans }}
		</h5>
	</div>
</div>
<div id="scrollableMessage" 
	{% if messages|length > 4 %} class="scrollable" {% endif %}
	class="card-body h-100"
	data-idDiscussion="{{ discussion.id }}" 
	data-page="{{ page }}" 
>
	<div id="messages_body">
		{% if totalPages > page %}
			<div id="pagination-scrollable-spinner">
				<center id="pagination-scrollable">
					<a 	onclick="paginationClick(event)"
						data-idDiscussion="{{ discussion.id }}" 
						data-page="{{ page + 1 }}"
						data-view="paginationScrollableMessages"
						style="font-size:30px;color:#3380ff"
					>
						&#x2295; 
					</a>
				</center>
			</div>
		{% endif %}

		{% if messages is not empty %}
			{% for item in messages %}
				{% include 'message/message.html.twig' with {'item': item, 'searchMessage': searchMessage} %}
			{% endfor %}
		{% endif %}
	</div>
	<div id="new_message"></div>
</div>
<br>
{% include 'pagination/message/message_pagination.html.twig' with {
	'totalPages': totalPages,
	'page': page,
	'discussion': discussion
}%}

