<div class="card-actions float-end">
    <div class="dropdown position-relative">
        <a href="#" style="color:black;" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="">
            {% include 'components/feather_icons/more-horizontal.html.twig' %}
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" 
                id="dropdown-item-actions-answer"
                onClick="messageItemActionAnswerClick(event)"
                data-idMessage="{{item.message.id}}"
                data-idDiscussionMessageUser="{{item.id}}"
            >
                {{ 'Answer'|trans }}
            </a>
            <a class="dropdown-item"
                id="dropdown-item-actions-delete"
                onClick="messageItemActionDeleteClick(event)"
                data-idDiscussionMessageUser="{{item.id}}"
            >
                {{ 'Delete'|trans }}
            </a>
        </div>
    </div>
</div>