<div role="alert" class="{{ alert }}">
    {% if item.message.message is not empty %}
        <i class="fa fa-check-double"
        {% if item.message.isRead == true %}
            style="color: #4169E1;"
        {% endif %}
        ></i>
        {% set textMessage = item.message.sensitiveDataMessage %}
        {% set searchTextMessage = searchMessage is not empty ? searchMessage.sensitiveDataMessage : null %}
        <span class="ms-1">{{ textMessage | highlight(searchTextMessage) | raw }}</span>
    {% endif %}
    <br/>
    {% if item.message.fileMessages is not empty %}
        <hr class="my-0" />
        <br/>
        {% for file in item.message.fileMessages %}
            {% if file.sensitiveDataMimeType and file.sensitiveDataName %}
            {% set subDirectory = 'files/message/'  %} 
            <span class="badge rounded-pill bg-light text-dark">
                <a download style="color:black;" href="data:{{ file.sensitiveDataMimeType }};base64,{{ file.sensitiveDataName|decrypt(subDirectory) }}">
                    {% set textoriginalName = file.sensitiveDataOriginalName|split('.')[0] %}
                    {% set search = searchMessage is not empty ? searchMessage.sensitiveDataFileName : null %}

                    {{ textoriginalName | highlight(search) }}
                </a>
            </span>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>