{% set description = '' %} 
{% set message = '' %} 
{% set fileName = '' %} 
{% set createdThisMonth = '' %}
{% set idSelectedSearchMessage = '' %} 

{% if selectedSearchMessage is not empty %}
    {% set description = selectedSearchMessage.sensitiveDataDescription  %} 
    {% set message = selectedSearchMessage.sensitiveDataMessage  %} 
    {% set fileName = selectedSearchMessage.sensitiveDataFileName  %} 
    {% set createdThisMonth = selectedSearchMessage.createdThisMonth %} 
    {% set idSelectedSearchMessage = selectedSearchMessage.id %} 
{% endif %}

<div class="card-header">
	<div class="flex-grow-1">
		<small class="float-end text-navy">
			<div class="card-actions float-end">
				<div class="dropdown position-relative">
					<a href="#" style="color:black;" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="">
						{% include 'components/feather_icons/more-horizontal.html.twig' %}
					</a>
					<div class="dropdown-menu dropdown-menu-end">
                        {% include 'components/search_dropdown_actions.html.twig' with { 'view': 'message', 'idDiscussion': idDiscussion, 'idSelectedSearch': idSelectedSearchMessage } %}
					</div>
				</div>
			</div>
		</small>

        <div class="container mb-3">
            <div class="row align-items-center">
                <div class="col-auto">
                    <h6 class="mb-0">{{ 'Search Message'|trans }}</h6>
                </div>
                <div class="col-auto ms-2">
                    {% include 'components/search_select.html.twig' with { 
                        'view': 'message', 
                        'searchMessage': searchMessage, 
                        'description': description 
                    } %}
                </div>
            </div>
        </div>
	</div>

    <div class="card-body">
        <div class="row">
            <!-- Champ Message -->
            <div class="mb-3 col-6">
                <div class="card shadow-sm border-0 mb-4 card border-primary border-2 shadow-sm mb-4">
                    <div class="card-header bg-light fw-bold text-primary">
                        {{ 'Message'|trans }}
                    </div>
                    <div id="tags-message" class="d-flex flex-wrap gap-2 mt-2"></div>
                    <input id="tag-input-message" type="text" class="form-control form-control-sm mt-2"
                        placeholder="{{ 'Enter a term, then press ; or Enter to add it as a tag'|trans }}">
                    <input type="hidden" id="inputMessage" name="inputMessage" value="{{ message|e }}">
                </div>
            </div>

            <!-- Champ File Name -->
            <div class="mb-3 col-6">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-header bg-light fw-bold text-primary">
                        {{ 'Name file'|trans }}
                    </div>
                    <div id="tags-file" class="d-flex flex-wrap gap-2 mt-2"></div>
                    <input id="tag-input-file" type="text" class="form-control form-control-sm mt-2"
                        placeholder="{{ 'Enter a term, then press ; or Enter to add it as a tag'|trans }}">
                    <input type="hidden" id="inputFile" name="inputFile" value="{{ fileName|e }}">
                </div>
            </div>

            <div class="mb-3 col-6">
                <div class="form-check form-check-inline form-switch">
                    <input class="form-check-input" type="checkbox" name="createdThisMonth" {{ createdThisMonth == true ? "checked" : "" }}>
                    <label class="form-check-label">{{ 'Created This Month'|trans }}</label>
                </div>
            </div>

            <input type="hidden" id="idSelectedSearchMessage" value='{{ idSelectedSearchMessage }}'>
    
            {% include 'components/search_submit_section.html.twig' with { 'view': 'message', 'page': page, 'idDiscussion': idDiscussion, 'description': description, 'idSelectedSearch': idSelectedSearchMessage } %}
        </div>
    </div>
</div>



