{% set description = '' %} 
{% set message = '' %} 
{% set fileName = '' %} 
{% set createdThisMonth = '' %}

{% if selectedSearchMessage is not empty %}
    {% set description = selectedSearchMessage.sensitiveDataDescription  %} 
    {% set message = selectedSearchMessage.sensitiveDataMessage  %} 
    {% set fileName = selectedSearchMessage.fileName  %} 
    {% set createdThisMonth = selectedSearchMessage.createdThisMonth %} 
{% endif %}

<div class="card-header">
    <div class="flex-grow-1">
        <small class="float-end text-navy">
            {% if searchMessage is not empty %}
                <select id="listSavedSearch" 
                    onchange="changeListSavedSearch();"
                    class="form-select" 
                    aria-label="Select created This Month">
                    <option value="" disabled {{ description == '' ? "selected" : ""  }}>{{ 'Choose saved search'|trans }}</option>
                    {% for item in searchMessage %}
                        <option value="{{ item.id }}" {{ description == item.sensitiveDataDescription ? "selected" : ""  }}>{{ item.sensitiveDataDescription }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </small>
        <h5 class="card-title mb-0">
            {{ 'Search Message'|trans }}
        </h5><br />
    </div>
    <div class="card-body text-center">
        <div class="row">
            <div class="mb-3 col-6">
                <input type="Message" value='{{ message }}' class="form-control" id="inputMessage" placeholder="{{ 'Message'|trans }}">
            </div>

            <div class="mb-3 col-6">
                <input type="Message" value='{{ fileName }}' class="form-control" id="inputFile" placeholder="{{ 'Name file'|trans }}">
            </div>

            <div class="mb-3 col-6">
                <select id="createdThisMonth" class="form-select" placeholder="{{ 'Created This Month'|trans }}" aria-label="{{ 'Created This Month'|trans }}">
                    <option value="false" disabled selected>{{ 'Created This Month'|trans }}</option>
                    <option value="true" {{ createdThisMonth == true ? "selected" : ""  }}>{{ 'Yes'|trans }}</option>
                    <option value="false" {{ createdThisMonth == false ? "selected" : "" }}>{{ 'No'|trans }}</option>
                </select>
            </div>
    
            <hr/>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="mb-3 col-5">            
                    <input type="Description" class="form-control" id="inputDescription" placeholder="{{ 'Description'|trans }}">
                </div>
                <div class="mb-3 col-4">            
                    <select id="saveSearch" class="form-select" aria-label="Save Search">
                        <option value="false" disabled selected>{{ 'Save Search'|trans }}</option>
                        <option value="true">{{ 'Yes'|trans }}</option>
                        <option value="false">{{ 'No'|trans }}</option>
                    </select>
                </div>
                <button onclick="submitSearchMessageCriteriaClick(event)" 
                    class="btn btn-primary mb-3"
                    id="btn_submit_search_message_criteria"
                    data-idDiscussion="{{ idDiscussion }}" 
                    data-page="{{ page }}"
                >
                    {{ 'Search'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>



