{% if view == 'message' %}
    {% set functionOnclick = 'submitSearchMessageCriteriaClick' %} 
    {% set idButton = 'btn_submit_search_message_criteria' %}
{% endif %}  

{% if view == 'discussion' %}
    {% set functionOnclick = 'submitSearchDiscussionCriteriaClick' %} 
    {% set idButton = 'btn_submit_search_discussion_criteria'  %}
{% endif %}

<hr/>
<div class="flex-grow-1">
    <small class="float-end">
        <button onclick="{{ functionOnclick }}(event)" 
            class="btn btn-primary mb-3"
            id="{{idButton}}"
            {% if view == 'message' %}
                data-idDiscussion="{{ idDiscussion }}"
                data-page="{{ page }}"
            {% endif %} 
        >
            {{ 'Search'|trans }}
        </button>        
    </small>
    <div class="form-check form-check-inline form-switch">
        <label class="form-check-label">{{ 'Save Search'|trans }}</label>
        <input class="form-check-input" type="checkbox" name="saveSearch">
    </div>
    <div id="DivInputDescription">            
        <input type="Description" value='{{ description }}' class="form-control" id="inputDescription" placeholder="{{ 'Description'|trans }}">
    </div>
    <br />
</div>