{% if totalPages > 1 %}
	<br/>
	<div class="pagination-wrapper">
		<nav aria-label="Page navigation">
			<ul class="pagination pagination-sm justify-content-center">
				<li
					{% if page == 1 %} 
						class="page-item disabled" 
					{% else %}
						class="page-item" 
					{% endif %}
				>
					<p class="page-link" 
						id="pagination_discussion_previous" 
						onClick="paginationDiscussionClick(event)"
						data-page="{{ page - 1 }}"
						data-url= {{ path('app_list_discussion', {page: page - 1}) }}
					>
						&laquo;
					</p>
				</li>
				{% for pagination in 1..totalPages %}
					<li
						{% if page == pagination %} 
							class="page-item active" 
						{% else %}
							class="page-item" 
						{% endif %}
					>
						<p class="page-link" 
							onClick="paginationDiscussionClick(event)"
							data-page="{{ pagination }}"
							data-url= {{ path('app_list_discussion', {page: pagination }) }}
						>
							{{ pagination }}
						</p>
					</li>
				{% endfor %}
				<li
					{% if page == totalPages %} 
						class="page-item disabled" 
					{% else %}
						class="page-item" 
					{% endif %}
				>
					<p class="page-link" 
						id="pagination_discussion_next" 
						onClick="paginationDiscussionClick(event)"
						data-page="{{ page + 1 }}"
						data-url= {{ path('app_list_discussion', {page: page + 1}) }}
					>
						&raquo;
					</p>
				</li>
			</ul>
		</nav>
	</div>
{% endif %}